# Anaconda / Conda
anaconda_projects/

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment files
.env

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db